.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: stretch;
    list-style: none;

    &__link:link,
    &__link:visited {
      font-size: 1.4rem;
      color: #fff;
      font-family: $font-display;
      text-align: center;
      padding: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;
      height: 100%;
      text-align: center;
      display: block;
      backface-visibility: hidden;

    }

    &__link:hover,
    &__link:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}
