.header {
  background-color: $color-grey-dark-1;
  padding: 8rem;
  padding-top: 4rem;
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.87)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-row-gap: 1.5rem;


grid-template-columns: max-content;
justify-content: center;
  &__logo {
    height: 3rem;
  }

  &__seenon-text {

    display: grid;
    color: $color-grey-light-2;
    font-size: 1.6rem;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;

    &::before, &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__btn {
    align-self: center;
    justify-self: start;
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-column-gap: 3rem;
    img {
      height: 2.5rem;
      filter: brightness(70%);
    }
  }
}
